body {
    padding-top: 70px;
}

.incorrect {
    color:#d9534f;
}

.correct {
    color: #5cb85c;
}

.title {
    color: #999;
}

.results_fixed{
    position: fixed;
    top:70px;
    left:40px;
    width:20%
}
.results{
    background-color: gainsboro;
    font-weight: bold;
}
