<div class="row">
    <div class="col-sm-3" style="background-color:lavenderblush;">
        <!--results section-->
        <!--<p>{{pointsEarned}}</p>-->
        <div ng-init="showAnswers=true">
            <button class="btn btn-sm btn-primary" type="button" ng-click="showAnswers=checkQuizCompleted()">Показать результат</button>
            <button class="btn btn-sm btn-primary" type="button" ng-click="reloadQuiz()">Обновить страницу</button>
            <button class="btn btn-sm btn-primary" type="button" ng-click="cancel()">К списку</button>
            <button class="btn btn-sm btn-primary" type="button" ng-click="updateResult()">Запомнить</button>
            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><b>{{alert.msg}}</b></alert>
            </div>
            <br/>
            <div ng-hide="showAnswers">
                <pre><b>Баллы: {{pointsEarned}} / {{pointsToEarn}}</b></pre>
                <!--now
                  the ANGULAR UI for result bars splitted to success/erros-->
                <progress class="progress-striped" max="pointsToEarn" animate="true">
                    <bar   value="100*pointsEarned/pointsToEarn" type="success"><b>{{pointsEarned}} </b></bar>
                    <bar   value="100-100*pointsEarned/pointsToEarn" type="danger"><b>{{pointsToEarn-pointsEarned}}</b></bar>
                </progress>
                <div ng-repeat="result in results">
                    {{result._id}}. <span
                        ng-class="result.correct == constants.CORRECT ? 'correct' : 'incorrect'">
               {{result.correct}} ({{result.points}})
               </span>
                </div>
                <!--<p><strong>Points: </strong><span ng-class="'results'">{{pointsEarned}}/{{pointsToEarn}}</span></p>-->

            </div>
        </div>
    </div>
    <div class="col-sm-9" style="background-color:lavender;">
            <p>File status: {{readstatus}}</p>
            <h2>{{title}}</h2>
            <form name="quiz">
                <div ng-repeat="question in quiz">
                    <strong>{{question._id}}. {{question.question}}</strong>
                    <!-- create the true/false radio button for each question-->
                    <br/>
                    <div class="radiooption">
                        <input required
                               name="_id{{question._id}}"
                               type="radio"
                               value="true"
                               ng-model="question.userChoice"
                               ng-change="$parent.checkUserChoice(question._id, true)"/>
                        <label for="_id{{question._id}}">{{constants.YES}}</label>
                        <br/>
                        <input required
                               name="_id{{question._id}}"
                               type="radio"
                               value="false"
                               ng-model="question.userChoice"
                               ng-change="$parent.checkUserChoice(question._id,false)"/>
                        <label for="_id{{question._id}}">{{constants.NO}}</label>
                    </div>
                    <br/>
                </div>
            </form>
            <hr/>


    </div>
</div>