# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
lib-cov
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# extern libraries
npm-debug.log
node_modules/
public/libs
.DS_Store

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
