<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <meta charset="UTF-8">
    <title>Master score</title>
    <h2 align="center">Penalty series 2015</h2>
</head>
<body>
<div class="container">
    <table class="table table-bordered" align="center">
        <thead>
        <tr>
            <th>Date</th>
            <th>Anton</th>
            <th>Alexander</th>
            <th>Game score</th>
            <th>Standing</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-info">
            <td>01.01.2015</td>
            <td>4</td>
            <td>3</td>
            <td>4:3</td>
            <td>1:0</td>

        </tr>
        <tr class="bg-danger">
            <td>01.01.2015</td>
            <td>4</td>
            <td>0</td>
            <td>4:0</td>
            <td>2:0</td>
        </tr>
        <tfoot>
        <tr>
            <td  colspan="5">Anton 4 : 0 Alexander</td>
        </tr>
        </tfoot>
        </tbody>
    </table>
</div>

</body>
</html>